:root{
    --cor-texto: #ffffff;
    --cor-primária: #efc8b1;
    --cor-secundária: #514644;
    --cor-cards: rgb(255, 255, 255);
    --preto: #000000;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
header{    
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundária);
    color: var(--cor-texto);
    box-shadow: 0 5px 5px var(--preto);
}


#logo{
    width: 250px;
}

header nav ul{
    display:flex;
    justify-content: center;  
    align-items: center;      
    list-style: none;        
    gap: 24px;              
    padding: 15px;
    list-style: none;
}
 
header nav ul li{
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
}
 
 
header nav ul li a{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 600;
}
 
header nav ul li a:hover{
    color: var(--cor-primária);
}


body{
    font-family: Arial, sans-serif;
    background-color: var(--cor-primária);
    color: var(--cor-texto);
}

h1{
    text-align: center;
}

span{
    color: var(--cor-primária);
}

#lista-vinhos{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    background: var(--cor-cards);
    width: 250px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 2px 8px var(--cor-secundária);
    margin-top: 50px;
}

.card h2{
    margin-top: 0px;
    color: var(--cor-secundária);
}

.card p{
    display: flex;
    justify-content: left;
    padding: 5px;
    margin: 10px;
    color: var(--preto);
}